html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.example2 .navbar-brand>img {
  padding: 7px 15px;
}

.example3 .navbar-brand {
  height: 75px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

#navbar-white{
  background-color: white;
}

body {
  padding-top: 70px;
}

.navbar .navbar-brand {
  padding-top: 0px;
}

.navbar .navbar-brand img {
  background-size: 500px auto;
  height: 75px;
}

hr{
  width: 600px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar-nav li a {
  line-height: 75px;
  margin-right: 10px;
  margin-top: 0px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 100px;
}
.firstSection{
  height: 2000px;
}
#about{
  text-align: left;
  min-height: 900px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  background-image: url("../images/mall-angle-o.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;

}
#about2{
  /*text-align: left;*/
  /*height: 100%;*/
  background: url("../images/mall-snow-o.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  color: white;
  height: auto;
}
.about2-header{
  color: black;
  /*margin: auto auto;*/
  text-align: center;
  /*padding-bottom: 4%;*/
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}
#about3{
  text-align: left;
  height: 100%;
  /*min-height: 700px;*/
  /*background-image: url("../images/aerial-o.jpg");*/
  background-size: cover;
  background-position: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  color: white;
  /*width: 100%;*/
}

#team{
  text-align: left;
  min-height: 1150;
  color: black;
  width: 100%;
  background-image: url("../images/aerial-o.jpg");
  /*background-attachment: fixed;*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#portfolio{
  text-align: left;
  min-height: 700px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  background-image: url("../images/m-circle-o.jpg");
  /*background-image: url("../images/washington.jpg");*/
  /*background-attachment: fixed;*/
  background-size: cover;
  background-position: center;
  color: white;
  width: 100%;
}

#today{
  min-height: 800px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../images/testudo-o.jpg");
  color: white;
  width: 100%;
}

#contact{
  min-height: 700px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  background: url("../images/telaviv.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  width: 100%;
}

.headshot {
  filter: grayscale(100%);
  width: 100%;
  border-radius: 50%;
  margin-bottom: 25%;
  margin-top: -10px;
  border: 1px solid blue;
}


.caption{
  margin-top: -45px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-weight: 700;
}

#header-primary{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-top: 60px;
}

#header-secondary{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.section-header{
  color: white;
  /*margin: auto auto;*/
  text-align: center;
  padding-bottom: 4%;
  font-family: 'Montserrat', sans-serif;
}

.headers{
  padding-left: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
}

.fa{
  color: white;
}
div ul li{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.about-text{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  float: right;
  text-align: center;
  height: 110px;
  background-color: rgba(63, 89, 191, 0.44);
  /*line-height: 150%;*/
  padding: 1% 1%;

  /*position: relative;
  top: 50%;
  transform: translateY(-50%); */
}

.about-header{
  text-align: center;
  font-weight: 600;
}

#contact-header{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 20%;
  text-align: center;
}

.icon-div{
  font-size: 12em;
  margin: auto;
  text-align: center;
}

h1{
  text-transform: uppercase;
}

footer{
  background-color: black;
  color: white;
  font-size: 50%;
}
.company-logo-background1{
  background-color: rgba(255, 255, 255, 0.5);
  height: 120px;
  /*display: table;*/
}
.company-logo-background2{
  background-color: rgba(255, 255, 255, 0.5);
  height: 180px;
  /*display: table;*/
}
.portfolio-logo-background{
  background-color: rgba(255, 255, 255, 0.4);
  height: 200px;
  /*display: table;*/
}
.portfolio-logo{
  width: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-header{
  color: white;
  text-align: center;
  font-weight: 600;
}
.image-caption{
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
.facebook{
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 500px;
  height: 600px;
  border-top: black 1px solid;
  border-right: black 1px solid;
  border-left: black 1px solid;
  border-bottom: black 1px solid;
  opacity: 0.85;

}
.calendar{
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 600px;
  opacity: 0.85;
}
.aboutIcon{
  width: 20%;
  margin: auto;
  display: block;
  padding-bottom: 5%;
}
